{% extends "base.html" %}
{% block content %}
    <h3>My Services</h3>
    {{ serviceFormset.management_form }}
    <div id="form_set">
        {% for form in serviceFormset.forms %}
            <table class='no_error'>
                {{ form.as_table }}
            </table>
        {% endfor %}
    </div>
    <input type="button" value="Добавить" id="add_more">
    <div id="empty_form" style="display:none">
        {{ form.as_p }}
        <input type="button" value="Удалить" id="delete_form">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            $('#add_more').click(function() {
                var form_idx = $('#id_form-TOTAL_FORMS').val();
                $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            });
        })
    </script>


{% endblock %}

